<h2>List of Cars</h2>
<ul interface="cars">
  <li *ngFor="let car of cars ">
    <a routerLink="/detail/{{car.id}}">
    <span class="badge">{{car.id}}</span> {{car.name}}
    </a>
    <button class="delete" title="delete car"
    (click)="delete(car)">x</button>
  </li>
</ul>
<div>
    <label>Car name:
      <input #carName />
    </label>
    <!-- (click) passes input value to add() and then clears the input -->
    <button (click)="add(carName.value); carName.value=''">
      add
    </button>
  </div>